.inner{
  background-color: #BEDAEC
}
.inner2{
  background-color: rgba(255, 0, 0, 0.72);
  color: white;
}

.well p,.well h4,.well h1{
  color: black;
}

.sezione{
  min-height: 40em;
}

.cento-l{
  width: 100%;
}